

header, footer {
    text-align: center;
}

body {
    background-color: #00e0ff;
}

.login-screen {
    margin: 100px 100px;
    padding: 100px 100px;
    height: 100px;
    text-align: center;
    border: 1px solid #0000a0;
}